Flask
Flask-Assets
Flask-Script
git+git://github.com/mattupstate/flask-social.git@289c01a10bbae01eba647a8121940786d7495405
Flask-SQLAlchemy
PyYAML
psycopg2
python-twitter
py-bcrypt
http://github.com/pythonforfacebook/facebook-sdk/tarball/master