Flask
Flask-Assets
Flask-Script
https://github.com/mattupstate/flask-social/tarball/develop
Flask-SQLAlchemy
PyYAML
psycopg2
python-twitter
py-bcrypt
http://github.com/pythonforfacebook/facebook-sdk/tarball/master