Flask==0.8
Flask-Assets==0.7
Flask-Login==0.1.1
Flask-OAuth==0.11
Flask-Principal==0.2
Flask-SQLAlchemy==0.15
Flask-Script==0.3.2
Flask-Security==1.2.1
https://github.com/mattupstate/flask-social/tarball/develop
Flask-WTF==0.6
Jinja2==2.6
PyYAML==3.10
SQLAlchemy==0.7.6
WTForms==1.0.1
Werkzeug==0.8.3
argparse==1.2.1
blinker==1.2
cssmin==0.1.4
http://github.com/pythonforfacebook/facebook-sdk/tarball/master
httplib2==0.7.4
jsmin==2.0.2
oauth2==1.5.211
passlib==1.5.3
psycopg2==2.4.4
python-twitter==0.8.2
simplejson==2.4.0
webassets==0.7
wsgiref==0.1.2
gunicorn==0.14.3