
DEVELOPMENT:
  SOCIAL_TWITTER:
    consumer_key: 'dev consumer key'
    consumer_secret: 'dev consumer secret'

  SOCIAL_FACEBOOK:
    consumer_key: 'dev app id'
    consumer_secret: 'dev app secret'
    request_token_params:
      scope: 'email,publish_stream'

  SOCIAL_GITHUB:
    consumer_key: 'dev app id'
    consumer_secret: 'dev app secret'
    module: 'app.github'
    request_token_params:
      scope: 'user'

PRODUCTION:
  SECRET_KEY: somethingsecret
  GOOGLE_ANALYTICS_ID: your_GA_id

  SOCIAL_TWITTER:
    consumer_key: 'production consumer key'
    consumer_secret: 'production consumer secret'

  SOCIAL_FACEBOOK:
    consumer_key: 'production app id'
    consumer_secret: 'production app secret'
    request_token_params:
      scope: 'email,publish_stream'

  SOCIAL_GITHUB:
    consumer_key: 'production app id'
    consumer_secret: 'production app secret'
    module: 'app.github'
    request_token_params:
      scope: 'user'