.tidy {
	margin: 0;
	padding: 0;
}

.navbar {
	.github {
		li {
			margin: 10px 0 0 10px;
		}
	}
}

.footer {
	margin: 50px 0;
	padding: 10px;
	border-top: 1px solid #EEE;
	text-align: center;
	color: #888;
}

.main-index {
	
	div.repo-info {
		text-align: center;

		h2 {
			margin-bottom: 15px;
		}
	}

	ul.repo-actions {
		.tidy;
		list-style: none;

		li {
			.tidy;
			display: inline;
			overflow: auto;
		}
	}
}

.main-login, .main-register {
	ul.errors {
		.tidy;
		color: #FF0000;
		list-style: none;
	}

	.content {
		margin-top: 30px;

		.col2 {
		    text-align: center; 
		    padding-top: 80px;
		}

		.col3 {
			padding-top: 50px;
		}
	}
}

.main-profile {
	textarea {
		display: block;
	}
}