{% extends '/layouts/boilerplate.html' %}

{% block body_class %}main main-index{% endblock %}

{% block layout %}
  <h2>Welcome to the Flask-Social example website.</h2>
  <p>
    This site aims to show the basic functionality provided by the
    <a href="http://packages.python.org/Flask-Social">Flask-Social</a> 
    extension for <a href="http://flask.pocoo.org">Flask</a>, a Python web 
    framework. The source code for this application can be found on 
    <a href="https://github.com/mattupstate/flask-social-example">github</a>.
  </p>
  <p>
    Currently this site allows users to register and subsequently establish
    connections with their Twitter and/or Facebook accounts. Upon establishing 
    a connection users can then login without having to provide their password.
  </p>
{% endblock %}