{% extends '/layouts/boilerplate.html' %}

{% block body_class %}main main-index{% endblock %}

{% block layout %}
  <div class="hero-unit">
    <h1>Welcome</h1>
    <p>
      This site illustrates the functionality provided by the <strong>Flask-Social</strong> 
      extension for <strong>Flask</strong>.
    </p>
    <p>
      <a class="btn btn-primary btn-large" href="http://packages.python.org/Flask-Social"><i class="icon-list-alt icon-white"></i> Flask-Social Documentation</a>
      <a class="btn btn-primary btn-large" href="https://github.com/mattupstate/flask-social-example"><i class="icon-file icon-white"></i> Source Code on Github</a>
      <a class="btn btn-primary btn-large" href="http://flask.pocoo.org"><i class="icon-info-sign icon-white"></i> Lean more about Flask</a>
    </p>
  </div>
{% endblock %}