{% extends '/layouts/boilerplate.html' %}

{% block body_class %}main main-profile{% endblock %}

{% macro show_provider_button(provider_id, display_name, conn) %}
    <p>
    {% if conn %}
      <form action="{{ url_for('social_post', provider_id=provider_id) }}" method="POST">
        <input name="message" type="text" value="Hello from Flask-Social-Example!"/>
        <input type="submit" value="Post To {{ display_name }}" />
      </form>
    </p>
    <p>
      <form action="{{ url_for('social.remove_connection', provider_id=conn.provider_id, provider_user_id=conn.provider_user_id) }}?__METHOD_OVERRIDE__=DELETE" method="POST">
        <input type="submit" value="Remove {{ display_name }} Connection" />
      </form>
      {% else %}
      <form action="{{ url_for('social.connect', provider_id=provider_id) }}" method="POST">
        <input type="submit" value="Connect with {{ display_name }}" />
      </form>
    {% endif %}
    </p>
{% endmacro %}

{% block layout %}
<h2>Profile Page</h2>

<h3>Hello, {{ current_user.email }}!</h3>

{{ show_provider_button('twitter', 'Twitter', twitter_conn) }}

{{ show_provider_button('facebook', 'Facebook', facebook_conn) }}
{% endblock %}
